.list-books-container,
.list-trash-container {
  margin: auto;
  max-width: 1200px;
  padding-top: 40px;
  gap: 20px;

  .list-books-left {
    flex: 1;
  }

  .list-books-btn {
    display: flex;
    gap: 20px;
    padding: 5px;
  }

  .search-bar {
    form {
      width: 100%;
    }
  }

  .sort-bar form {
    padding: 24px 0;
    white-space: nowrap;
  }

  .sort-bar label {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .sort-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .list-books-right {
    flex: 2;
  }

  .list-books-title {
    text-align: center;
    margin: 20px auto;
    font-size: 50px;
  }

  .table {
    white-space: nowrap;

    .td-image {
      width: 54px;
      height: auto;
    }

    .list-image {
      width: 100%;
    }
    .td-title,
    .td-author {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    a {
      text-decoration: none;
    }

    .td-button {
      width: 100px;
      height: auto;
    }

    .list-edit-button {
      width: 90px;
      background-color: #d3d354;
    }

    .list-restore-button {
      width: 90px;
    }

    .list-delete-button {
      width: 90px;
      background-color: red;
    }
  }
}

.list-books-container {
  display: flex;
}

@media (max-width: 480px) {
  .list-books-container {
    display: block;
  }
}

@media (max-width: 768px) and (min-width: 481px) {
}

@media (min-width: 769px) {
}
