.bookstore-header {
  background-color: $--main;
  border-bottom: 2px solid #ddd;
  padding: 34px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  text-align: center;
}

.logo-img {
  max-height: 85px;
}

/* 検索バーのスタイル */
.search-bar {
  flex: 2;
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search-btn {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-btn:hover {
  background-color: #0056b3;
}

/* 最初の検索要素とメニュー要素を非表示にします */
.search-bar {
  display: none;
}

.nav-menu {
  display: none;
}

/* ナビゲーションメニューのスタイル */
.nav-menu {
  flex: 1;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: right;
}

.nav-list {
  list-style: none;
  display: flex;
  font-size: 18px;
  gap: 36px;
  margin: 0;
  padding: 0;
  align-items: center;

  .btn {
    color: #fff;
  }
}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: #007bff;
}

@media (max-width: 480px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .search-bar,
  .nav-menu {
    display: none; /* ロゴだけを表示 */
  }
}

.header-icon {
  display: none;
}

.avatar-menu {
  position: relative;
  display: inline-block;
}

.avatar-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;

  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: $--white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 150px;
  z-index: 10;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color: #333;
  text-align: start;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

/* 小さな画面向けの構成 */
@media (max-width: 768px) and (min-width: 481px) {
  .header-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .search-toggle,
  .nav-toggle {
    width: 40px;
    cursor: pointer;
  }

  .logo {
    flex: none;
  }

  /* アイコン用のスペースを確保する */
  .search-bar {
    display: none;
    position: absolute;
    top: 70px;
    // left: 0;
    width: 90%;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .search-bar button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
  }

  /* 検索アイコンをクリックすると、検索バーが表示されます */
  .search-bar.active {
    display: block;
  }

  .nav-menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 34px;
    width: 100px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  /*ナビアイコンをクリックするとメニューが表示されます*/
  .nav-menu.active {
    display: block;
  }

  .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .nav-list li {
    margin: 10px 0;
  }
}

@media (min-width: 769px) {
  .search-bar,
  .nav-menu {
    display: flex;
    position: static;
    flex-direction: row;
  }

  .search-toggle,
  .nav-toggle {
    display: none;
  }
}
