@import '_variables';
@import 'components/header';
@import 'components/footer';
@import 'components/body/home';
@import 'components/body/admin/crud';
@import 'components/body/admin/displayCRUD';
@import 'components/body/user/profile';
@import 'components/body/book/createBook';
@import 'components/body/book/listBook';

/* ページ全体にデフォルトのマージンやパディングがないことを確認してください。 */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.app-body {
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
}

//mobileディスプレイ
@media (max-width: 480px) {
  .app {
    max-width: 100%;
  }
}

//tableディスプレイ
@media (max-width: 768px) and (min-width: 481px) {
  .app {
    max-width: 100%;
  }
}

//コンピューターディスプレイ
@media (max-width: 1200px) and (min-width: 769px) {
  .app {
    max-width: 100%;
  }
}
