<footer class="footer-hbs">
  <!-- フッター全体のコンテナ -->
  <div class="footer-container">
    <!-- お問い合わせ情報 -->
    <div class="footer-section">
      <h4>お問い合わせ</h4>
      <p>電話番号: 012-3456-7890</p>
      <p>メール: info@bookstore.jp</p>
      <address>〒530-0015 大阪市北区中崎西2丁目3番35号</address>
    </div>

    <!-- 営業時間 -->
    <div class="footer-section">
      <h4>営業時間</h4>
      <p>月〜金: 10:00 〜 18:00</p>
      <p>土: 10:00 〜 14:00</p>
      <p>日・祝日: 定休日</p>
    </div>

    <!-- SNSリンク -->
    <div class="footer-section">
      <h4>フォローしてください</h4>
      <a href="https://gmail.com/bookstore" target="_blank"
        ><img src="/images/icon/gmail.svg" alt="gmail" class="footer-icon" />
      </a>
      <a href="https://facebook.com/bookstore" target="_blank"
        ><img
          src="/images/icon/facebook.svg"
          alt="facebook"
          class="footer-icon"
      /></a>
      <a href="https://instagram.com/bookstore" target="_blank"
        ><img
          src="/images/icon/instagram.svg"
          alt="instagram"
          class="footer-icon"
      /></a>
    </div>
  </div>

  <!-- コピーライト情報 -->
  <div class="footer-bottom">
    <p>&copy; 2024 Bookstore. 全著作権所有。</p>
  </div>
</footer>
