<div class="create-book-container">
  <h1>新しい本を作成する</h1>
  <form
    action="/book/create-new-book"
    method="POST"
    enctype="multipart/form-data"
  >
    <div class="form-group">
      <label for="title" class="crebook-label">タイトル:</label>
      <input
        type="text"
        id="title"
        name="title"
        placeholder="本のタイトルを入力してください"
        required
      />
    </div>

    <div class="form-group">
      <label for="author" class="crebook-label">著者:</label>
      <input
        type="text"
        id="author"
        name="author"
        placeholder="著者名を入力してください"
        required
      />
    </div>

    <div class="form-group">
      <label for="category" class="crebook-label">カテゴリィ:</label>
      <select id="category" name="categoryId" required class="crebook-input">
        {{#each categories}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="description" class="crebook-label">ディスクライブ:</label>
      <textarea
        id="description"
        name="description"
        placeholder="本の説明を入力してください"
        required
      ></textarea>
    </div>
    <input type="hidden" name="userId" value="{{user.id}}" />
    <div class="form-group reading-status-group">
      <label for="status">読書状況:</label>
      <select id="status" name="status" required>
        <option value="未読">未読</option>
        <!-- Chưa đọc -->
        <option value="読書中">読書中</option>
        <!-- Đang đọc -->
        <option value="読了">読了</option>
        <!-- Đã đọc -->
      </select>

      <label for="owned" class="checkbox-label">
        <input type="checkbox" id="owned" name="owned" />
        所有
      </label>
    </div>

    <div class="form-group">
      <label for="image" class="crebook-label">表紙画像:</label>
      <input
        type="file"
        id="image"
        name="image"
        accept="image/*"
        onchange="previewImage(event)"
      />
      <!-- Vùng hiển thị hình ảnh xem trước -->
      <div class="image-preview-container">
        <img
          id="image-preview"
          alt="Preview Image"
          class="image-preview"
          style="display: none"
        />
      </div>
    </div>
    {{#if errMessage}}
    <p style="color: red">{{errMessage}}</p>
    {{/if}}
    <button type="submit" class="submit-button">アップロード</button>
  </form>
</div>

<script>
  function previewImage(event) {
    const file = event.target.files[0]
    const preview = document.getElementById('image-preview')
    if (file) {
      const reader = new FileReader()
      reader.onload = () => {
        preview.src = reader.result
        preview.style.display = 'block'
      }
      reader.readAsDataURL(file)
    }
  }
</script>
